include ../../../partials/content-header
+header(t('visit.plu_title'), t('visit.buttons.patient_check_in'), route())

div.panel.panel-transparent
  div.panel-body
    include ../../../partials/grid-region
