include ../../../partials/content-header
+header(t('invoice.plu_title'), t('invoice.buttons.new_invoice'), route())

div.panel.panel-transparent
  div.panel-body
    include ../../../partials/grid-region
