div.container-fluid
  div.row.no-gutters
    div.panel-heading
      = t("visit.labels.chief_complaint")
    div.panel-text
      if (visit.chief_complaint && !!visit.chief_complaint.trim())
        = visit.chief_complaint
      else
        = t("general.messages.empty-set")
      
    div.panel-heading
      = t("visit.labels.diagnosis")
    div.panel-text
      if (visit.diagnosis && !!visit.diagnosis.trim())
        = visit.diagnosis
      else
        = t("general.messages.empty-set")
  
  div.row.no-gutters
    div.panel-heading
      = t("visit.labels.notes")
    div.panel-text
      if (visit.anamnesis && !!visit.anamnesis.trim())
        = visit.chief_complaint
      else        
        = t("visit.messages.empty-notes")     
