include ../../../partials/content-header
+header(t('patient.plu_title'), t('patient.buttons.new_patient'), route())

div.panel.panel-transparent
  div.panel-body
    include ../../../partials/grid-region
