form(role="form")
  div.hzl-logo.logo
  div.row
    div.form-group.required.col-md-6
      - title = t('profile.labels.current_password')
      label.control-label(for="current_password") #{title}
      input#curr-password-in.form-control(type="password" name="password_params[current_password]" maxlength="255")
      span.help-block
  div.row
    div.form-group.required.col-md-6
      - title = t('profile.labels.new_password')
      label.control-label(for="new_password") #{title}
      input#new-password-in.form-control(type="password" name="password_params[new_password]" maxlength="255")
      span.help-block
    div.form-group.required.col-md-6
      - title = t('profile.labels.password_confirmation')
      label.control-label(for="password_confirmation") #{title}
      input#password-confr-in.form-control(type="password" name="password_params[password_confirmation]" maxlength="255")
      span.help-block
  hr
  div.form-group
    button#save-btn.btn.btn-primary
      = t('general.buttons.save')
