include ../../../partials/content-header
+header(t('service.plu_title'), t('service.buttons.new_service'), route())

div.panel.panel-transparent
  div.panel-body
    include ../../../partials/grid-region
