//
// sidebar
// --------------------------------------------------
.sidebar {
  overflow-y: visible;
}

//
// navbar-top brand-logo
// --------------------------------------------------
.navbar-top {
  .brand-logo {
    padding: 12px 0 12px 25px !important;

    > img {
      opacity: 0.9;
    }
  }
  .brand-logo-collapsed {
    padding: 8px 15px !important;
  }
}

//
// wrapper
// --------------------------------------------------
&.wrapper > section {
  z-index: auto;
  background-color: #ffffff;
}

&.wrapper > .aside {
  z-index: auto;
}

@media (min-width: 768px) {
  &.wrapper > .aside {
    z-index: 1040;
  }
}

//
// backgrid
// --------------------------------------------------
.backgrid-container {
  height: 100% !important;
  margin-bottom: 15px;

  @media @desktop {
    overflow: visible !important;
  }
}

.pagination-container {
  text-align: center;

  .paginator {
    min-height: 65px;
  }
}

//
// table
// --------------------------------------------------
.table.grid {
  font-size: 15px;
}

.table.padding > tbody > tr > td { // Necessary?
  padding: 10px;
}

.table > tbody > tr > td {
  padding: 20px;
}


//
// table > thead > tr > th
// --------------------------------------------------
.table > thead > tr > th {
  color: @black-light;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

//
// table > tfoot > tr > th
// --------------------------------------------------
.table > tfoot > tr > th {
  vertical-align: middle;
}

//
// table-form
// --------------------------------------------------
.table-form {
  > thead > tr > th > {
    font-weight: normal;
  }
}

.table-condensed {
  > thead > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  > tbody > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.table-total {

  > tbody > tr > td {
    color: @black-light;
    border: none;
  }

  @media @tablet {
    border-top: 1px solid #e4eaec;
  }
}

//
// panel
// --------------------------------------------------
.panel-transparent {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.panel-total {
  @media @tablet {
    margin-left: -20px;
  }
}

.panel-srvc {
  @media @tablet {
    margin-top: 15px;
  }
}

//
// nav
// --------------------------------------------------
.tab-content {
  > .tab-pane {
    &:not([data-tab]) {
      margin-left: -20px;
    }
  }
}
