//
// sidebar
// --------------------------------------------------
.sidebar {
  overflow-y: visible;
}

//
// navbar-top brand-logo
// --------------------------------------------------
.navbar-top {
  .brand-logo {
    padding: 12px 0 12px 25px !important;

    > img {
      opacity: 0.9;
    }
  }
  .brand-logo-collapsed {
    padding: 8px 15px !important;
  }
}

//
// wrapper
// --------------------------------------------------
&.wrapper > section {
  z-index: auto;
  background-color: #ffffff;
}

&.wrapper > .aside {
  z-index: auto;
}

@media (min-width: 768px) {
  &.wrapper > .aside {
    z-index: 1040;
  }
}

//
// backgrid
// --------------------------------------------------
.backgrid-container {
  height: 100% !important;
  margin-bottom: 15px;

  @media @desktop {
    overflow: visible !important;
  }
}

.pagination-container {
  text-align: center;

  .paginator {
    min-height: 65px;
  }
}

//
// table
// --------------------------------------------------
.table.grid {
  font-size: 15px;
}

.table.padding > tbody > tr > td { // Necessary?
  padding: 10px;
}

.table > tbody > tr > td {
  padding: 20px;
}

.table > thead > tr > th {
  color: @black-light;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

.table > tfoot > tr > th {
  vertical-align: middle;
}

//
// table-form
// --------------------------------------------------
.table-form {
  > thead > tr > th > {
    font-weight: normal;
  }
}

.table-condensed {
  > thead > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  > tbody > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.table-total {

  > tbody > tr > td {
    color: @black-light;
    border: none;
  }

  @media @tablet {
    border-top: 1px solid #e4eaec;
  }
}

//
// panel
// --------------------------------------------------
.panel-transparent {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.panel-total {
  @media @tablet {
    margin-left: -20px;
  }
}

.panel-srvc {
  @media @tablet {
    margin-top: 15px;
  }
}

//
// nav
// --------------------------------------------------
.tab-content {
  > .tab-pane {
    &:not([data-tab]) {
      margin-left: -20px;
    }
  }
}

.nav.nav-pills .active > a {
 background-color: transparent;
}

.nav-pills {
  &.quick-filter {
    > li > a {
      font-size: 1.22em;
      color: @link-color;
      padding: 15px 20px;
      letter-spacing: -0.04em;
    }

    > li {
      &.active > a,
      > a:hover, > a:focus {
        color: @link-color-active;
      }
    }
  }
}

//
// settings page
// --------------------------------------------------
.aup-panel {
  display: table;
  min-height: 400px;
}

.aup-panel-body {
  display: table-cell;
  padding: 0px 20px;

  &:before, &:after {
    display: none;
  }

  > section h1 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    letter-spacing: -0.0006em;
    color: @link-color-active;
  }
}

.aup-nav-panel {
  display: table-cell;
  width: 235px;
  padding: 10px 20px 20px 10px;
  border-right: 1px solid #ccc;

  &, .aup-sidebar {
    min-height: 400px;
  }

  .aup-sidebar {
    &.sidebar {
      border: 0;
      background-color:  transparent;

      .nav {
        > li {
          &:hover {
            & {
              background-color: transparent;
            }

            > a,
            > a > .item-text {
              background-color: rgba(9,30,66,.04);
            }
          }
        }
      }
    }
  }

  .aup-nav {
    &.nav {
      > li {
        > a {
          color: @link-color;
          padding: 7px 10px;
          letter-spacing: -0.0003em;
          font-weight: 400;
        }

        > a:hover {
          cursor: pointer;
        }

        > a.active, a:active {
          color: @link-color-active;
          font-weight: 600;
        }
      }
    }
  }
}

.aup-nav-heading {
  font-size: 1.02em;
  letter-spacing: -.003em;
  text-transform: uppercase;

  > strong {
    font-weight: 700;
  }
}

.aup-navgroup-inner {
  .aup-nav-heading {
    padding: 0px 10px 4px 11px;
  }
}

.aup-panel-grid {
  min-width: 550px;
}

//
// Others
// --------------------------------------------------
.backgrid-container a > button {
  &.btn-sm {
    min-width: 60px;
  }
}
