.page-wrapper {
  position: relative;
  overflow-x: hidden;
  > div {
    padding-top: 50px;
  }

  .panel-heading {
    > p {
      font-size: 1.3rem;
    }
  }

  .panel-body {
    > form {
      .has-feedback > .form-control-feedback {
        right: 5px;
      }
    }
  }

  .btn {
    font-weight: 600;
  }

  .brand-logo {
    > img {
      width: 10.2rem;
    }
  }
}
