// override & custom variables
// --------------------------------------------------

@c-navbar-heigth: 55px;
@c-font-base: 1.5rem;
@c-bg-color: #f9f9f9;

@list-dropdown-hover-bg: #f2f2f2;

font-family: "Lato", sans-serif;
color: #555459;

//
// wrapper
// --------------------------------------------------
&.wrapper {

  > section {
    padding-top: @c-navbar-heigth;
    background-color: @c-bg-color;
    z-index: auto;
    margin: auto;
  }
}

.content-wrapper {
  padding-top: 40px;
}

//
// panel
// --------------------------------------------------
.panel {
  min-height: 25rem;

  .panel-heading {
    font-size: 2.9rem;
    font-weight: bold;

    padding-top: 25px;
  }

  &.panel-default {
    border-top-width: 1px;
  }

  .panel-body {
    padding-top: 5px;
    padding-bottom: 20px;

  }

  > p {
    font-size: @c-font-base;
  }
}

//
// table
// --------------------------------------------------
.table {
  > thead > tr > th {
    color: @black-light;
  }
  > thead > tr,
  > tbody > tr {
    > th, td {
      > a {
            font-size: @c-font-base;
      }
      padding-left: 20px;
    }
  }

}

//
// nav navbar brand
// --------------------------------------------------
.navbar {min-height: @c-navbar-heigth !important}


.nav > li > span.user {
  display: block;
  position: relative;
}

.navbar-nav > li {
  font-size: 1.5rem;
}

.navbar-nav > li > a, span.user {
  font-weight: 700;
  line-height: 21px;
}

.nav-wrapper {
  padding: 5px 15px;

  .navbar-nav .open {
    .dropdown-menu {
      li > a:hover {
        background-color: @list-dropdown-hover-bg;
      }
    }
  }

  .nav-main {
    margin-right: 10px;

    > li {
      > a, > span.user {
        color: #404B55;
        opacity: 0.75;

        padding: 12px 10px;
      }

      > a:hover {
        color: #111111;
        background-color: @list-dropdown-hover-bg;
      }

      > .dropdown-menu {
        border-radius: 4px;
        margin-right: 15px;
        font-size: unset;

        > li > a {
          color: #909090;
          padding: 10px 20px 10px 25px;

          > span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.navbar-brand {
  opacity: 0.9;
  padding: 18px 15px 0 15px;

  .brand-logo {
    > img {
      width: 8rem;
    }
  }
}

//
// tab-content tab-underline
// --------------------------------------------------
.tab-content {
  padding: 10px 20px 0px;
  .nav-pills + & {
    border: 0;
    padding: 0;
  }
}

.tab-underline {
  border: 0px;
  margin-bottom: 10px;

  &::after {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    bottom: 2px;
    z-index: 120;
  }

  > li  {
    margin-bottom: 0;

    a {
      color: @black-light;
      background-color: transparent;
      border-color: transparent;
    }

    &:after {
      width: 100%;
      display: block;
      background-color: #155A93;
      height: 0px;
      content: '';
      z-index: 125;
    }

    & a:hover,
    &.active a, &.active a:hover,
    &.active a:focus {
      color: @black;
      background-color: transparent;
      border-color: transparent;

    }

    &.active:after,
    &:hover:after {
      height: 2px;
    }
  }
}

//
// utils
// --------------------------------------------------
.align-center {
  &:extend(.text-center);

  font-size: @c-font-base;
  padding-top: 20px;

}

//
// others
// --------------------------------------------------
textarea {
  max-height: 7rem;
}
