// override & custom variables
// --------------------------------------------------
@navbar-height: 45px;
@nav-header-bg: #1D2933;
@black: #333333;
@black-light: #555555;
@c-bg-color: #f9f9f9;

//
// font-size
// --------------------------------------------------
.font-14 {
  font-size: 1.4rem !important;
}

.font-15 {
  font-size: 1.5rem !important;
}

.font-16 {
  font-size: 1.6rem !important;
}

.font-18 {
  font-size: 1.8rem !important;
}

.font-24 {
  font-size: 2.4rem !important;
}

//
// font-weight
// --------------------------------------------------
.font-weight-300 {
  font-weight: 300
}

.font-weight-600 {
  font-weight: 600
}

//
// nav-wrapper
// --------------------------------------------------
.nav-wrapper {
  box-shadow: inset 0 -1px 0 0 #ebebeb;
}

//
// navbar-top
//
.navbar-top {
  .brand-logo {
    > img {
      margin: 0 !important;
    }
  }
}
