include ../../../partials/svg

div.nav-wrapper
  div.navbar-brand
    div.brand-logo
      img.img-responsive(src=logo)

  ul.nav.navbar-nav.navbar-right.nav-main
    li
      a(href="/user/profile" data-backbone="true")
        span #{gon.user.name}
    li
      a.dropdown-toggle(href="#!" data-toggle="dropdown")
        +svgIcon(icons.ellipsis, 'hz-fw-145')
      ul.dropdown-menu
        li
          a(href="/patient" data-backbone="true")
            span.ml-sm
              = "Houzel App"
          a#logout(href="#!")
            span.ml-sm
              = t('session.labels.logout')
